extends ../main

block title
    | The perfect weekend getaway
    
block content
    .container
        include ../_common/_head-content
            .section-content_page-3
                include ../_common/_article
            include ../_common/_sidebar
    include ../_common/_recommended
    .container
        .section-content
            include ../_common/_comments