extends ../main

block title
    | minimo
    
block content
    .container
        include ../_common/_head-content
        include ../_common/_articles-preview
    include ../_common/_newsletter
    .container
        include ../_common/_articles-preview-2
