.container
    .newsletter__title.articles-preview__title Sign up for our newsletter!
    form(action="").newsletter__form
        input(type="text" name="mail" placeholder="Enter a valid email address").newsletter__mail
        input(type="submit" value="").newsletter__submit