.container-newsletter
    .container
        .section-content
            a(href="#").sections you may also like
            ul.articles-preview__list.articles-preview__list_recommended
                li.articles-preview__item.articles-preview__item_recommended
                    a(href="#").articles-preview__container-img
                        img(src="images/img-article-preview6.jpg", alt="").articles-preview__img
                    h2.articles-preview__title.articles-preview__title_recommended Cold winter days
                li.articles-preview__item.articles-preview__item_recommended
                    a(href="#").articles-preview__container-img
                        img(src="images/img-article-preview4.jpg", alt="").articles-preview__img
                    h2.articles-preview__title.articles-preview__title_recommended A day exploring the Alps
                li.articles-preview__item.articles-preview__item_recommended
                    a(href="#").articles-preview__container-img
                        img(src="images/img-article-preview3.jpg", alt="").articles-preview__img
                    h2.articles-preview__title.articles-preview__title_recommended American dream