aside.sidebar
    .sidebar_container-about-me
        .sidebar__container-img
            img(src="images/sb1.jpg", alt="").sidebar__img
        .sidebar__title About me
        .sidebar__text 
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
         - var socials = ['facebook', 'instagram','pinterest']
        ul.socials-share__list
            each item in socials
                li.socials-share__item
                    a(href="#" class="socials-share__link_#{item}").socials-share__link= item
    .sidebar__container-top-post
        a(href="#").sections Top posts
        ul.sidebar-top-post__list
            li.sidebar-top-post__item
                a(href="#").sidebar-top-post__link A day exploring the Alps
                a(href="#").sidebar-top-post__link-comments
                    span.quantity-comments 24 
                    | comments
            li.sidebar-top-post__item
                a(href="#").sidebar-top-post__link American dream
                a(href="#").sidebar-top-post__link-comments
                    span.quantity-comments 19 
                    | comments
            li.sidebar-top-post__item
                a(href="#").sidebar-top-post__link Cold winter days
                a(href="#").sidebar-top-post__link-comments
                    span.quantity-comments 15 
                    | comments
    .sidebar__container-banner
        .sidebar__container-banner-text
            .sidebar__banner-size 250x250
            | banner spot
        