.wrapp-inline-block, .navigation-list, .socials, .articles-preview__list {
  letter-spacing: -0.3em;
}

.navigation__item, .socials__follow, .socials__list, .socials__item, .articles-preview__item {
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
}

.socials__link {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

input {
  outline: none;
  border: none;
}

html, body {
  height: 100%;
  background: #ffffff;
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
}

.content {
  display: table-row;
  height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  padding: 0 5.5%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.section-content {
  width: 85.5%;
  margin: 0 auto 127px auto;
}

.sections {
  display: block;
  color: #b4ad9e;
  font: 14px 'ubuntulight';
  text-transform: uppercase;
  margin: 0 0 17px;
}

.header {
  overflow: hidden;
  margin: 0 0 75px 0;
  padding: 70px 0 0;
}

.container-logo {
  display: block;
  width: 119px;
  height: 23px;
  float: left;
}

.logo {
  width: 100%;
  height: auto;
}

.navigation-list {
  float: right;
  width: 55%;
  min-width: 553px;
}

.navigation__item {
  margin: 0 0 0 18%;
}
.navigation__item:first-child {
  margin: 0;
}

.navigation__link {
  display: block;
  font: 14px "playfair_displayregular";
  color: #626262;
  text-transform: uppercase;
}

.footer {
  background: #f0f0f0;
  height: 100px;
  overflow: hidden;
  font: 14px/28px "playfair_displayregular";
}
.footer .container {
  background: none;
  padding: 32px 5.5%;
}

.footer__text {
  float: left;
  margin: 0 0 0 18px;
}
.footer__text:first-child {
  margin: 0 0 0 83px;
}

.socials {
  float: right;
}

.socials__item {
  margin: 0 0 0 5px;
}

.socials__link {
  display: block;
  width: 34px;
  height: 31px;
  overflow: hidden;
}

.socials-sprite, .socials__link_facebook, .socials__link_twitter, .socials__link_instagram {
  background-image: url('../images/socials-s467f389fa4.png');
  background-repeat: no-repeat;
}

.socials__link_facebook {
  background-position: 0 0;
}

.socials__link_twitter {
  background-position: 0 -122px;
}

.socials__link_instagram {
  background-position: 0 -61px;
}

.head-content__container-img {
  width: 100%;
  padding: 48% 0 0 0;
  position: relative;
  overflow: hidden;
  margin: 0 0 92px;
}

.head-content__img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.title {
  font: 30px "playfair_displayregular";
  color: #626262;
  margin: 0 0 27px;
}

.head-content__description {
  font: 14px/24px "playfair_displayregular";
  color: #626262;
  margin: 0 0 50px;
}

.articles-preview {
  margin-bottom: 0;
}

.articles-preview__list {
  margin: 0 0 0 -6.2%;
}

.articles-preview__item {
  width: 43.8%;
  overflow: hidden;
  margin: 0 0 126px 6.2%;
  color: #626262;
}

.articles-preview__container-img {
  display: block;
  position: relative;
  padding: 66% 0 0 0;
  margin: 0 0 33px;
}

.articles-preview__img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.articles-preview__title {
  font: 30px "playfair_displayregular";
  margin: 0 0 30px;
}

.articles-preview__text {
  font: 14px/23px "playfair_displayregular";
  max-height: 73px;
  overflow: hidden;
}

.load-more {
  display: block;
  font: 20px "playfair_displayregular";
  color: #626262;
  padding: 16px 22px;
  border: 1px solid #626262;
  margin: 0 auto 200px auto;
  width: 13%;
}

.container-newsletter {
  background: #f0f0f0;
  padding: 71px 0;
  margin: 0 0 103px;
}

.newsletter__title {
  text-align: center;
  color: #333;
  margin: 0 0 54px;
}

.newsletter__form {
  width: 38%;
  font: 14px "playfair_displayregular";
  color: #626262;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
  white-space: nowrap;
}

.newsletter__mail {
  border-bottom: 1px solid #000000;
  outline: none;
  background: none;
  width: 90%;
  vertical-align: top;
  padding: 10px 10% 10px 0;
  display: table-cell;
}

.newsletter__mail::-webkit-input-placeholder {
  color: #626262;
}

.newsletter__mail::-moz-placeholder {
  color: #626262;
}

.newsletter__mail:-ms-input-placeholder {
  color: #626262;
}

.newsletter__submit {
  width: 40px;
  height: 39px;
  border: none;
  margin-left: -10%;
  background: none;
  background: url("../images/submit.png") no-repeat center center;
  display: table-cell;
}
